.specific-catalog-image-container {
    border: 1px solid black;
    border-radius: 10px;
    height: 30vh;
    margin: 15px;
}

.specific-catalog-list {
    border: 1px solid black;
    border-radius: 10px;
    min-height: 600px;
    margin: 0 15px 15px;
}
