/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  }

.center-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.c-pointer {
    cursor: pointer;
}

.br-50 {
    border-radius: 50%;
}

.w-95{
    width: 95% !important;
}

.w-100 {
    width: 100%;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.basic-border-box {
    border: 1px solid black;
    border-radius: 10px;
}