<div class="home">
    <div class="navbar mat-elevation-z2">
        <div class="shop-title center-item c-pointer">ShopX</div>
        <div class="center-item account-link">
            @if (user?.picture) {
                <div class="c-pointer" [matMenuTriggerFor]="menu">
                <img class="br-50" src={{user.picture}} height="32" width="32" />
                </div>

                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="logout()">Logout</button>
                  </mat-menu>
            } @else {
                <div class="account-circle c-pointer center-item" (click)="login()">
                    <img src="../../assets/images/google.png" height="24" width="24">
                    <div style="margin-left: 10px">Sign in with Google</div>
                </div>
            } 
        </div>
    </div>
    <div class="center-item">
        <img class="landing-image" src="../../assets/images/laser_landing2.webp" height="100%" width="95%">
    </div>

    <div class="w-100">
        <div class="tiles-heading w-95">Featured products</div>
    </div>
    
    <div class="w-100" style="display: flex;justify-content: center;">
        <div class="tiles w-95">
            @for(tile of homeTiles; track tile.imagePath; let first = $first) {
                <home-tile [imagePath]="tile.imagePath" [title]="tile.title"></home-tile>
            }
        </div>
    </div>
   
</div>