<div class="home">
    <div class="center-item">
        <img class="landing-image" src="../../assets/images/laser_landing2.webp" height="100%" width="95%">
    </div>

    <div class="w-100">
        <div class="tiles-heading w-95">Featured products</div>
    </div>
    
    <div class="w-100" style="display: flex;justify-content: center;">
        <div class="tiles w-95">
            @for(tile of homeTiles; track tile.imagePath; let first = $first) {
                <home-tile [imagePath]="tile.imagePath" [title]="tile.title"></home-tile>
            }
        </div>
    </div>
   
</div>