.home {
   // display: flex;
   // flex-direction: column;
    height: 100vh;
    width: 100%;
    //overflow-y: auto;
}

.tiles {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

.tiles-heading {
    font-size: 22px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px 0;
    color: black;
}

.landing-image {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}